@model IEnumerable<DoctorViewModel>

@{
	ViewData["Title"] = "Doctors";
}

<h2>Doctors</h2>
<div>
	<a asp-action="Create" class="btn btn-primary" id="btnCreate">Register</a>
</div>

@if (TempData["MSG_S"] != null)
{
	<p class="alert alert-success">@TempData["MSG_S"]</p>
}

@if (Model.Count() > 0)
{
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Id)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Name)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Crm)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().AttendsByConvenience)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().HasClinic)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Email)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Address)</th>
					<th scope="col">@Html.DisplayNameFor(m => m.First().Neighborhood)</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var doctor in Model)
				{
					<tr>
						<th scope="row">@doctor.Id</th>
						<td>@Html.DisplayFor(model => doctor.Name)</td>
						<td>@Html.DisplayFor(model => doctor.Crm)</td>
						<td>@Html.DisplayFor(model => doctor.AttendsByConvenience)</td>
						<td>@Html.DisplayFor(model => doctor.HasClinic)</td>
						<td>@Html.DisplayFor(model => doctor.Email)</td>
						<td>@Html.DisplayFor(model => doctor.Address)</td>
						<td>@Html.DisplayFor(model => doctor.Neighborhood)</td>
						<td>
							<a asp-action="Update" asp-route-id="@doctor.Id" class="btn btn-secondary">Update</a>
							<a asp-action="Delete" asp-route-id="@doctor.Id" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<span>Register not found</span>
}
